.container {
    width: 400px;
    height: 400px;
    margin: 30px auto;
    border: 1px solid black;
    position: relative;
}

.target {
    width: 40px;
    height: 40px;
    background-color: skyblue;
    position: absolute;
}