@import "tailwindcss";
@import "./styles/favorite.css";


@theme {
  --color-x1: #f7f7f7;
  --color-x2: #e3e3e3;
  --color-x3: #c8c8c8;
  --color-action: #3992ff;
  --color-focus: #2b63fd;
}

@utility padding-h {
  @apply *:px-8;
}

@layer base {
  textarea,
  button,
  input {
    @apply text-base border-none py-2 px-3;
    font-family: inherit;
    line-height: 1.5;
  }
}

@layer components {
  .search-outline {
    @apply outline-1 outline-gray-300;
    @variant focus-within {
      @apply outline-2 outline-blue-500 outline-offset-0;
    }
  }

  .primary-button {
    @apply rounded-xl outline-1 outline-gray-300 transition-all duration-300 text-blue-400;
    @variant hover {
      @apply bg-blue-50/50 text-blue-700;
    }
  }
}
