#svg-basic-rectangle {
  /* width: 100px; */
  /* height: 100px; */
}

#svg-container {
  width: 100%;
  height: 100vh;
  background: #b8a4a4;
}

.svg-circle-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;

  color: #f1ab11;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #007bff; /* Blue on hover */
  }

  & svg circle {
    fill: currentColor;
  }
}
