.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 20vw;
  min-width: 160px;
  /* height: 300px; */
  background-color: #4b5563;
  max-height: 100vh;
  overflow-y: auto;
  position: sticky;
  top: 0;
}

.contact-card {
  display: flex;
  font-family: sans-serif;
  flex-wrap: row nowrap;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;
  max-width: 16rem;
  gap: 1rem;
  margin: 12px;
  cursor: pointer;
}

.contact-card.chosen {
  background-color: #e2e8f0; /* A lighter gray background */
  box-shadow: 0 0 0 3px #6a4c93; /* A purple outline */
}

.avatar {
  display: flex;
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  background-color: #1f2937;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.initials {
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 700;
}

.contact-info {
  display: flex;
  flex-flow: column nowrap;
}

.contact-name {
  color: #1f2937;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.contact-email {
  color: #4b5563;
  font-size: 0.875rem;
  margin: 0;
}

.chat-box-container {
  display: flex;
  flex-flow: column nowrap;

  /* margin-left: 20vw; */
}

.chat-box {
  resize: none;
  height: 200px;
}

.chap-app-container {
  display: flex;
}
