.hint-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.names-container {
  display: flex;
  flex-direction: column;
}
.name-label {
  margin-bottom: 8px;
}

.name-label span {
  display: inline-block;
  width: 120px;
  text-align: left;
}

.field-three span {
  display: inline-block;
  width: 60px;
  text-align: left;
}

.field-container {
  width: fit-content;
  display: grid;
  row-gap: 12px;
}
.edit-field-options {
  display: flex;
  gap: 12px;
}
li.contact {
  display: inline-block;
  & button {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.contact-list {
  & ul,
  & li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
