.container {
  display: flex;
  flex-direction: column;
  background: red;
  height: 900px;
}
.header {
  height: 50px;
  background-color: blanchedalmond;
}

.main-content {
  flex-grow: 1;
  background-color: blue;
}

.footer {
  height: 50px;
  background-color: aqua;
}
