.container {
  display: flex;
  flex-direction: column;
  background: red;
  height: 900px;
}
.header {
  height: 50px;
  background-color: blanchedalmond;
}

.main-content {
  flex-grow: 1;
  background-color: blue;
}

.footer {
  height: 50px;
  background-color: aqua;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

input,
button,
textarea {
  background-color: transparent;
  border: 0;
  line-height: inherit;
  font: inherit;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}
.tool-bar,
.tool-bar * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tool-bar {
  width: 18rem;
  background: #fff555;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding-block: 1rem;
  border-bottom: 2px solid black;
  padding-inline: 2rem;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 1rem;
  background: #ff1232;
}

.search > .icon {
  display: block;
  max-width: 100%;
  /* height: 24px; */
  /* width: 24px; */
  background: #114488;
  vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 24px;
  background: #114488;
  vertical-align: middle;
}

input[type="search"] {
  padding-left: 0.25rem;
  display: block;
  line-height: 24px;
  /* min-width: 0; */
}
