* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

label {
  display: block;
  margin-bottom: 20px;
}

.text-name--visible {
  display: initial;
}

.text-name--invisible {
  display: none;
}

.input-name--visible {
  display: initial;
}

.input-name--invisible {
  display: none;
}
