@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

.root-website {
  --calm-blue: #a3b1c2;
  --dark-blue: #31445b;
  --deep-blue: #233142;
  --light-gray: #e6e9ed;
  --white: #fff;
}
.root-website {
  font-family: "Inter", sans-serif;
  background-color: var(--light-gray);
  margin: 0;
  /* display: flex; */
  /* flex-direction: column; */
  min-height: 100vh;
  color: var(--deep-blue);
}

.nav-links {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
    text-align: left;
  }
  .nav-links li:not(:last-child) {
    margin-right: 32px;
  }
}

.nav-links li {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .nav-links li {
    margin-bottom: 0;
  }
}

/* nav menu */
.nav-links a {
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav-links a {
    justify-content: flex-start;
  }
}

.nav-links a:hover {
  color: var(--calm-blue);
}

.nav-links a .icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  fill: currentColor; /* Ensures the icon color matches the text color */
}
