div.container h1 {
    color: blue;
}

div.container h2 {
    background-color: blue;
    color: white;
}

div.container span {
    font-size: 200%;
}

div.test-second #special {
    background-color:yellow;
}

div.test-second .alert {
    border: 1px solid gray;
}

div.test-second .alert.stop {
    background-color: red;
}

div.test-second .alert.go {
    background-color: green;
}

div.test-third a:link{
    color: orange;
}

div.test-third a:visited {
    color: green;
}

div.test-third a:hover {
    text-decoration: none;
}

div.test-third p:first-child {
    font-size: 150%;
}

div.test-third > p:first-child::first-line {
    color: red;
}

div.text-third table {
    border-collapse: collapse;
    width: 300px;
}

div.test-third table td,th{
    padding: 0.2em;
    text-align: left; 

}
div.test-third table tr:nth-child(2n) {
    background-color: #333;
    color: white;
}

div.container-fourth h2 + p {
    color:red;
}

div.container-fourth ul.list > li {
    list-style-type: none;
    border-bottom: 1px solid gray;
}

div.container-fifth ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div.container-fifth li {
    margin: 0 0 0.5em 0;
}

div.container-fifth a {
    display: block;
    padding: 0.5em;
    border: 5px solid gray;
}
div.container-fifth a[title] {
    border-color: pink;
}

div.container-fifth a[href*="contact"] {
    border-color: orange;
}

div.container-fifth a[href^="https"] {
    border-color: green;
}