.counter-reducer {
  display: flex;
  flex-flow: row nowrap;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  max-width: 300px;
  margin: 10px auto;
  height: 80px;
  gap: 12px;
  align-items: center;
}

button[type="button"] {
  height: min-content;
}
