.hint-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.names-container {
  display: flex;
  flex-direction: column;
}
.name-label {
  margin-bottom: 8px;
}


.name-label span {
  display: inline-block;
  width: 120px;
  text-align: left; 
}
