@import "tailwindcss";

@import "./router/address-book/address-book-index.css";
@import "./router/address-book/styles/favorite.css";
@import "./react-official/use-effects/not-need/challenge-one/todo.css";

#root {
  height: 100vh;
}
