* {
  box-sizing: border-box;
}

ul {
  padding-inline-start: 20px;
}

ul {
  list-style-type: none;
  padding: 0px 10px;
}
li {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}

.fake-image {
    background-color: aqua;
}