* {
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.counter-options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
}

.counter {
  width: 140px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 20px;
  margin: 0 20px 20px 0;
  text-align: center;
  display: inline-block;

}

.hover {
  background: #ffffd8;
}

.fancy {
  border: 5px solid gold;
  color: #ff6767;
}
