.box {
    border: 1px solid slategrey;
    margin: 4px;
}
#flex-grow-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#box-one {
    flex-grow: 2;
    background-color: tan;
}

#box-two {
    flex-grow: 2;
    background-color: tomato;
}

#box-three {
    flex-grow: 1;
    background-color: slateblue;
}

#box-four {
    background-color: seagreen;
}

.flex-basis-container {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.flex {
    background: #6ab6d8;
    padding: 10px;
    margin-bottom: 50px;
    border: 3px solid #2e86bb;
    color: white;
    font-size: 20px;
    text-align: center;
    position: relative;
}
.flex::after {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
    margin-top: 10px;
    width: 100%;
    color: #333333;
    font-size: 18px;
}

.flex1 {
    flex-basis: auto;
}

.flex1::after {
    content: 'auto';
}

.flex2 {
    flex-basis: max-content;
}

.flex2::after {
    content: 'max-content';
}

.flex3 {
    flex-basis: min-content;
}

.flex3::after {
    content: 'min-content';
}

.flex4 {
    flex-basis: fit-content;
}

.flex4::after {
    content: 'fit-content';
}

.flex5 {
    flex-basis: content;
}

.flex5::after {
    content: 'content';
}

.flex6 {
    flex-basis: fill;
}

.flex6::after {
    content: 'fill';
}

#antoher-container {
    background-color: #eeeeee;
    border: .75em solid;
    padding: .75em;
    width: 80%;
    max-height: 300px;
    display: flex;
}

#antoher-container > div {
    background-color: rgba(0, 0, 255, .2);
    border: 3px solid #0000ff;
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

div#target-element {
    background: salmon;
    flex-grow:10;
}

.flex-basic-two-container {
    width: 450px;
    display: flex;
    border: 2px solid #2e86bb;
    padding: 3px;
}
.flex-word {
    background-color: antiquewhite;
    flex-grow: 1;
    border: 1px solid slategrey;
    text-align: center;
}
#auto-container div {
    flex-basis: auto;
}

#zero-container div {
    flex-basis: 0;
}

.special-flex-word {
    flex-grow: 2;
}

#shrink-container {
    display: flex;
    width: 500px;
}

.shrink-box {
    flex-basis: 120px;
    border: 3px solid rgba(0, 0, 0, 0.2);
}

#shrink-container div:nth-child(1){
    background-color: red;
    flex-shrink: 1;
}
#shrink-container div:nth-child(2){
    background-color: lightblue;
    flex-shrink: 3;
}
#shrink-container div:nth-child(3){
    background-color: yellow;
    flex-shrink: 2;
}
#shrink-container div:nth-child(4){
    background-color: brown;
    flex-shrink: 2;
}
#shrink-container div:nth-child(5){
    background-color: lightgreen;
    flex-shrink: 0;
}
