.demo-min-content {
  background-color: palegoldenrod;
  width: min-content;
}

.demo-default {
  background-color: aqua;
}

.demo-max-content {
  width: max-content;
  background-color: cadetblue;
}

.demo-fit-content {
  width: fit-content;
  background-color: goldenrod;
}

header {
  font-size: 22px;
}

.wrapper {
  max-width: 800px;
  padding: 0 1rem;
  margin: 0 auto;
}

figure {
  width: fit-content;
  margin: 0 auto;
  background: #e2deed;
  padding: 1rem;
  border-radius: 5px;
}

figcaption {
  margin-top: 0.5rem;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

body {
  background: #fafafa;
  line-height: 1.5;
  font-family: "Arial";
  padding: 4rem;
}

* {
  box-sizing: border-box;
}

#title-in-different-lines {
  h2 {
    text-align: center;
    position: relative;
    font-size: 1.25rem;
  }

  h2 span {
    position: relative;
    top: -8px;
    display: inline-block;
    padding: 0 1rem;
    background: #fafafa;
    width: min-content;
  }

  h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    z-index: -1;
    width: 100%;
    height: 150px;
    border: 4px solid;
    border-bottom: 0;
  }
}

#title-with-underline {
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    border-bottom: 3px solid #e2deed;
    width: fit-content;
  }
}

#demo-navigation {
  header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    background: #eee;
    padding: 1rem;
    border-radius: 5px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
  }

  li {
    margin-left: 1rem;
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

#demo-filter-list {
  display: flex;
  justify-content: space-evenly;

  .grid {
    height: 250px;
    width: 40%;
    display: grid;
    background: lightgreen;
    grid-template-rows: min-content auto min-content;
  }

  .header-filter {
    background: orange;
  }

  .result-list {
    overflow: auto;
  }

  .footer-pagination {
    background: lightblue;
  }
}

#demo-hero {
  background: #1e9abd;
  width: 50%;
  height: 640px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  color: #fff;
  grid-template-rows: min-content 1fr;
  grid-auto-columns: 100%;

  nav {
    background: #187aaf;
    overflow: auto;
  }
  ul {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  li {
    list-style: none;
    margin-right: 1rem;
  }
  a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 0.75rem 1rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  main {
    align-self: center;
  }
}

#demo-side-bar {
  display: grid;
  /* grid-template-columns: minmax(150px, fit-content), 1fr; */
  /* grid-template-columns: minmax(150px, fit-content) 1fr; */
  grid-template-columns: fit-content(150px) 1fr;
  gap: 1rem;
  aside,
  main {
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(#000, 0.05);
    border-radius: 5px;
    padding: 1rem;
    /* height: 350px; */
  }
}

#demo-heading-description {
  max-width: 1000px;
  padding: 0 1rem;
  margin: 1rem auto;

  h2 {
    color: #1e9ada;
    font-weight: bold;
    font-size: 1.5rem;
    width: max-content;
  }

  div {
    width: min-content;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  p {
    color: #616161;
  }
}
